header {
    background-color: #1a1a1a;
    height: 100px;
    color: white;
    padding-top: 50px;
    display: flex;
    justify-content: center;  
    align-items: center;     
    position: relative;      
    padding: 20px;
}

body {
    background-color: azure;
}

#inicio1 {
    margin: 0;
    text-align: center;
}

#inicio2 {
    margin: 0;
    text-align: center;
}

b {
    color: green;
}

main{
    text-align: center;
    text-transform: uppercase;
}

.imagens-1 {
    display: flex;
    flex-direction: row;    
    flex-wrap: nowrap;       
    justify-content: center; 
    gap: 30px;               
    margin: 40px auto;       
    max-width: 95%;          
}

#conteudo1 {
    background-image: url(mexico-canada-eua.jpg2.webp);
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
    width: 45%;                  
    height: 400px;                      
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;                
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);       
}

#conteudo2 {
    background-image: url(adversarios-brasil.jpg);
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    width: 45%;                  
    height: 400px;   
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;                
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);     
}


.menu-btn {
    position: absolute;     
    left: 20px;    
    font-size: 18px;
    background: #222;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
    padding-top: 60px;
    transition: transform 0.3s ease;
    transform: translateX(-100%); 
    z-index: 1000; 
}

.sidebar.open {
    transform: translateX(0);
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.pesquisa {
    position: absolute;
    right: 45px;
    top: 50px;
}


.sidebar nav a {
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #333;
}

.sidebar nav a:hover {
    background-color: #333;
}

#sedeInicio {
    text-align: center;
    margin-top: 20px;
    font-size: 50px
}

#adversarios-brasil {
    text-align: center;
    margin-top: 20px;
    font-size: 50px
}

section {
    text-align: center;
}

.azteca {
    color: green;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px
}

ol {
    text-align: left;
}

#mexico {
    font-size: 30px;
    color: green;
}

.sublinha {
    font-size: 15px;
    color: gray
}

#eua {
    font-size: 30px;
    color: darkblue;
}

.eagle {
    color: darkblue
}

.alce {
    color: red;
}

#canada {
    font-size: 30px;
    color: red;
}

img {
    width: 500px;
    height: auto;
}


.container-contatos {
    display: flex;        
    justify-content: center; 
    gap: 100px;            
    margin-top: 50px;      
    margin-bottom: 50px;  
    margin-left: 100px;
    margin-right: 100px; 
    background-color: white;
}


.campo-contato {
    max-width: 400px;      
}

#email-icon {
    width: 75px;
    height: 65px;
    display: block;        
    margin-bottom: 10px;    
}

#whatssap-icon {
    width: 75px;
    height: 65px;
    display: block;         
    margin-bottom: 10px;   
}

.nome-contato1 {
    font-size: 20px;
    margin: 0 0 5px 0;      
}

.contato-info1 {
    font-size: 16px;
    color: gray;
    margin: 0;
}

.nome-contato2 {
    font-size: 20px;
    margin: 0 0 5px 0;   
}

.contato-info2 {
    font-size: 16px;
    color: gray;
    margin: 0;
}




#marrocos {
    font-size: 30px;
    color:brown
}

.marro {
    color: brown
}

#escocia {
    font-size: 30px;
    color: blue;
}

.esco {
    color: blue
}

#haiti {
    color: darkred;
    font-size: 30px;
}

.hai {
    color:darkred
}

.data {
    font-size: 17px;
    color: gray;
    text-align: left;
}

#grupo-c {
    font-size: 30px;
}

footer {
    background-color: #1a1a1a;
    color: white;
    height: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    position: relative; 
    clear: both;
}


.volr-ini {
    position: absolute;
    top: 50%;           
    transform: translateY(-50%);
    left: 45px;
    color: white;
    background-color: gray;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.rodape-nome {
    margin: 0;
    color: white;
}

.contato {
    color: gray;
    font-size: 15px;
    position: absolute;
    right: 50px;
    bottom: 35px;
}

#duvida {
    font-size: 30px;
    text-align: center;
}

form {
    text-align: center;
}
